<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>octopus_attached0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{462,438}</string>
                <key>spriteSourceSize</key>
                <string>{542,600}</string>
                <key>textureRect</key>
                <string>{{1567,1},{462,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>octopus_attached1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{518,488}</string>
                <key>spriteSourceSize</key>
                <string>{542,600}</string>
                <key>textureRect</key>
                <string>{{1077,1},{518,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>octopus_idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{536,594}</string>
                <key>spriteSourceSize</key>
                <string>{542,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{536,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>octopus_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{536,594}</string>
                <key>spriteSourceSize</key>
                <string>{542,600}</string>
                <key>textureRect</key>
                <string>{{539,1},{536,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poop0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,111}</string>
                <key>spriteSize</key>
                <string>{37,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,312}</string>
                <key>textureRect</key>
                <string>{{1077,521},{37,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,72}</string>
                <key>spriteSize</key>
                <string>{47,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,312}</string>
                <key>textureRect</key>
                <string>{{1838,532},{47,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{17,136}</string>
                <key>spriteSourceSize</key>
                <string>{71,312}</string>
                <key>textureRect</key>
                <string>{{1314,521},{17,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>poop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-51}</string>
                <key>spriteSize</key>
                <string>{11,210}</string>
                <key>spriteSourceSize</key>
                <string>{71,312}</string>
                <key>textureRect</key>
                <string>{{2031,1},{11,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seagull0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{196,59}</string>
                <key>spriteSourceSize</key>
                <string>{220,189}</string>
                <key>textureRect</key>
                <string>{{1116,521},{196,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seagull1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-35}</string>
                <key>spriteSize</key>
                <string>{206,89}</string>
                <key>spriteSourceSize</key>
                <string>{220,189}</string>
                <key>textureRect</key>
                <string>{{1838,441},{206,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seagull2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-42}</string>
                <key>spriteSize</key>
                <string>{138,105}</string>
                <key>spriteSourceSize</key>
                <string>{220,189}</string>
                <key>textureRect</key>
                <string>{{1731,441},{138,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seagull3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,24}</string>
                <key>spriteSize</key>
                <string>{162,141}</string>
                <key>spriteSourceSize</key>
                <string>{220,189}</string>
                <key>textureRect</key>
                <string>{{1567,441},{162,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>extras.png</string>
            <key>size</key>
            <string>{2045,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:601405c6f128453189a06eee8cd04cd0:db0d5257d7c1ca8cca0cec53c4cbca3f:94991708d10f44b89aade0473ce52c8b$</string>
            <key>textureFileName</key>
            <string>extras.png</string>
        </dict>
    </dict>
</plist>
