<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sailor_idle0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{282,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{573,1},{282,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{282,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1,1213},{282,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{294,390}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{857,1},{294,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{294,386}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{581,1609},{294,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{296,382}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1155,589},{296,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{296,378}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1155,973},{296,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{296,378}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1173,1737},{296,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sailor_idle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{296,380}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{857,1209},{296,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{294,382}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1173,1353},{294,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{294,384}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{877,1591},{294,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{294,386}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1153,293},{294,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sailor_idle19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{294,388}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{859,791},{294,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{282,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{287,809},{282,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{292,390}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{287,1615},{292,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{290,394}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1153,1},{290,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sailor_idle22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{288,396}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{857,393},{288,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{286,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{571,809},{286,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{284,400}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{285,1213},{284,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{282,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{573,405},{282,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{284,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{284,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1,405},{284,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{284,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{284,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1,809},{284,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{284,402}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{287,405},{284,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{284,398}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{571,1209},{284,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sailor_idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{284,394}</string>
                <key>spriteSourceSize</key>
                <string>{300,430}</string>
                <key>textureRect</key>
                <string>{{1,1617},{284,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wood0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,91}</string>
                <key>spriteSourceSize</key>
                <string>{320,91}</string>
                <key>textureRect</key>
                <string>{{1453,589},{320,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{318,91}</string>
                <key>spriteSourceSize</key>
                <string>{320,91}</string>
                <key>textureRect</key>
                <string>{{1453,911},{318,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{296,83}</string>
                <key>spriteSourceSize</key>
                <string>{320,91}</string>
                <key>textureRect</key>
                <string>{{1469,1231},{296,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sailor_idle.png</string>
            <key>size</key>
            <string>{1557,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7318f4c453e25c60590d59addb2fe91c:971495d673fd382812d0eea1d0cd1dde:fb2740b63468794e657670a154e7061e$</string>
            <key>textureFileName</key>
            <string>sailor_idle.png</string>
        </dict>
    </dict>
</plist>
