<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sea0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2167,1},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,703},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea5.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,703},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,703},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
            <key>sea7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2167,703},{720,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,700}}</string>
                <key>sourceSize</key>
                <string>{720,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sea.png</string>
            <key>size</key>
            <string>{2888,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea22939df4d56e67d0472940ce90685:84450640a737b50719a981fe00629fcb:89795a8ad3e7724e6bc939ba9789323b$</string>
            <key>textureFileName</key>
            <string>sea.png</string>
        </dict>
    </dict>
</plist>
